<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}apollo-configservice.log}" />
	<property name="DEBUG_LOG_FILE"
			  value="${LOG_FILE}.debug" />
	<include resource="file-appender.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<include resource="debug-file-appender.xml" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="DEBUG_FILE" />
		<!--<appender-ref ref="CONSOLE" />-->
	</root>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
		<appender-ref ref="DEBUG_FILE" />
	</logger>
	<logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
		<appender-ref ref="DEBUG_FILE" />
	</logger>
	<logger name="com.ctrip.framework.apollo" level="DEBUG" additivity="false">
		<appender-ref ref="DEBUG_FILE" />
	</logger>
</configuration>
